
# rbenv
.ruby-version
.ruby-gemset

# bundler
.bundle

# jeweler generated
pkg

# test script
test

# simplecov code coverage directory
coverage

# Yard doc
doc
.yardoc
#
Gemfile.lock

# graphviz dot file
*.dot

# MacOS:
.DS_Store

# Rubymine
.idea

# vim, emacs, textmate
*~
\#*
.\#*
*.tmproj
tmtags
*.swp

# Skip the log file
jenkins_api_client.log

# Vagrant
.vagrant

# VS Code history folder
.history

# local gem file
*.gem
