language: ruby

rvm:
  - 2.2.7
  - 2.3.3
  - 2.4.1

script:
  - bundle exec rake unit_tests

notifications:
  webhooks: https://www.buildheroes.com/api/projects/588c9dffdc8f0deff4d89d87bf370e8dba8a8a95/builds
  irc:
    channels: ["chat.freenode.net##jenkins-api-client"]
    use_notice: true
    skip_join: true
